
@{
    ViewData["Title"] = "SocialMediaManagerJob";
}



<asp:Content id="BodyContent" ContentPlaceHolderID="Main Content" runat="server">
    <section id="mediajob-background">
        <!--added image-->
        <div class="mediajob-menu" id="media">
            <div class="container">
                <h1>Social Media Manager Job Offer</h1>

            </div>
        </div>

    </section>
</asp:Content>

<style>
    .mediajob-background {
        position: relative;
        width: 100%;
        min-height: 100vh;
        background-image: url();
        background-size: cover;
        display: flex; /*changed from inline*/
        justify-content: center;
        align-items: center;
    }

    .mediajob-menu {
        position: relative;
        padding: 100px;
        min-height: 100vh;
        background-image: url();
        background-color: whitesmoke;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mediajob-menu h1 {
        font-size: 40px;
        font-weight: 200;
        margin-bottom: 10px;
        color: darkgoldenrod;
        text-transform: uppercase;
        text-align: center;
    }
</style>