
@{
    ViewData["Title"] = "Subscriptions";
}

<asp:Content id="BodyContent" ContentPlaceHolderID="Main Content" runat="server">
    <section id="subscribe-background">
        <!--added image-->
        <div class="subscribe-menu" id="subscribe">
            <div class="container">
                <h1>@ViewData["Title"]</h1>

                <p class="header">
                    Planiture offer the opportunity for new traders to make money
                    as they learn. We offer a signal group subscription, a course
                    subscription.
                </p>
                <br />
                <br />
                <br />
                <div class="row">
                    <div class="col-sm-4 col-md-4">
                        <div class="thumbnail">
                            <div class="caption">
                                <h2>PLANITURE<br />BFXCLASS</h2>
                                <p>
                                    $30.00 /class<br /> (Option to pay per class or to pay for a 6
                                    week crash course)
                                </p>
                                <b><a class="btn">(COMING SOON)</a></b>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <div class="thumbnail">
                            <div class="caption">
                                <h2>PLANITURE<br />FXC_SIGNALS</h2>
                                <p>
                                    $79.00 /monthly<br /> 
                                    <br />
                                    <br />
                                    <br />
                                </p>
                                <a href="" class="btn">(Learn More...)</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <div class="thumbnail">
                            <div class="caption">
                                <h2>PLANITURE<br />BUNDLE</h2>
                                <p>
                                    BFX + FXC<br /> $99.99 /monthly<br /> Having the opportunity
                                    to earn as you learn
                                </p>
                                <a href="" class="btn">(Learn More...)</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</asp:Content>

<style>
    .subscribe-background {
        position: relative;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(800px,5fr));
        grid-gap: 30px;
        max-width: 150%;
        margin-top: 40px;
    }

    .subscribe-menu {
        position: relative;
        /*width: 100%;*/
        padding: 100px;
        min-height: 100vh;
        background-image: url(subscriptionimage.jpg);
        background-color: whitesmoke;
        background-size: cover;
        display: flex; /*changed from inline*/
        justify-content: center;
        align-items: center;
    }

    .subscribe-menu .container {
        position: relative;
        text-align: center;
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
    }

    .subscribe-menu h1{
        font-size: 40px;
        font-weight: 200;
        margin-bottom: 10px;
        color: darkgoldenrod;
        text-transform: uppercase;
        text-align: center;
    }

    .subscribe-menu .container .header{
        text-align: left;
    }

    .subscribe-menu p{
        position: relative;
        font-size: 18px;
        font-weight: 300;
        margin-bottom: 20px;
        letter-spacing: 1px;

    }

    .subscribe-menu a {
        font-weight: 500;
        color: blue;
    }

    .subscribe-menu a:hover {
        background: none;
        color: darkgoldenrod;
        text-decoration-line: underline
    }

    .subscribe-menu .row .col-sm-4 .thumbnail {
        border: 5px solid ;
        border-radius: 4px;
        padding: 5px;
        border-color: darkgoldenrod;
    }
</style>