@using Microsoft.AspNetCore.Identity
@inject SignInManager<Planiture_Website.Models.ApplicationUser> SignInManager
@inject UserManager<Planiture_Website.Models.ApplicationUser> UserManager
@inject RoleManager<Planiture_Website.Models.ApplicationRole> RoleManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        @if(User.IsInRole("Customer"))
         {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="Profile" asp-action="Index" title="Profile">Hello @User.Identity.Name!</a>
            </li>
            <li class="nav-item">
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                </form>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Dashboard" title="Manage">Hello @User.Identity.Name!</a>
            </li>
            <li class="nav-item">
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                </form>
            </li>
        }

        
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" id="login" role="button" aria-haspopup="true"
               asp-area="Identity" asp-page="/Account/Login"> <!--"dropdown-toggle" removed from class-->
                Login
            </a>
        </li>
        /*<li class="nav-item">
            <div class="dropdown drop">
                <a class="nav-link text-dark dropdown-toggle" id="login" role="button" aria-haspopup="true"
                   asp-area="Identity" asp-page="/Account/Login">
                    Login
                    <span class="caret"></span>
                </a>
                <div class="dropdown-menu" style="width: 200px;">
                    <form asp-area="Identity" asp-page="/Account/Login" method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label style="color: white">User Name <!--<span>(or email address on account)</span>--></label>
                            <input style="color: white; background-color: black;" id="email" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label style="color: white">Password</label>
                            <input style="color: white; background-color: black;" id="password" type="password" class="form-control" />
                        </div>
                        <div class="form-group">
                            <input style="color: white; background-color: darkgoldenrod;" type="submit" value="Submit"/>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <p>forgot password?</p>
                                <p>New to site?</p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </li>*/
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Account/Profile</a>
        </li>
    }
</ul>
