@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}


<body onload="successfully()">

</body>

<style>
    
    #success {
        background-color: white;
        border: 1px solid black;
        padding: 60px;
    }
    #success span{
        padding: 20px;
      background-color: #4CAF50;
      color: white;
      opacity: 1;
      transition: opacity 0.6s;
      margin-bottom: 15px;
    }
</style>

<script type="text/javascript">
    function successfully() {
        Swal.fire({
            icon: 'success',
            title: 'User Email has been successfully verified!',
            text: "Please Login to continue the application Process...",
            confirmButtonText:
                '<a href="https://localhost:44336/Identity/Account/Login">Login</a>',
        })
    }
</script>