@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<body onload="information()">

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</body>

<script type="text/javascript">
    function information() {
        Swal.fire({
            icon: 'info',
            title: 'User Password Reset',
            text: "Please check your email to reset your password.",
            confirmButtonText:
                '<a href="https://localhost:44336/Identity/Account/Login">Login</a>',
        })
    }
</script>