@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<body>
    <br />
    <br />
    <br />
    <br />
    <h1>@ViewData["Title"]</h1>
    <h4>Enter your email.</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label style="color: white" asp-for="Input.Email"></label>
                    <input id="email" asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <button id="submit" type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</body>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


<style>
    body {
        position: relative;
        padding: 100px;
        min-height: 100vh;
        background-size: cover;
        background-color: none;
    }

    h1 {
        color: goldenrod;
        text-transform: uppercase;
        text-align: right;
    }

    h4, label{
        color: white;
    }

    #email {
        position: relative;
        border: none;
        border-bottom: 1px solid white;
        color: white;
        background: transparent;
        width: 100%;
        padding: 10px 0;
        outline: none;
        font-size: 18px;
        font-weight: 400;
        margin: 20px 0;
        resize: none;
    }

    #submit{
        -webkit-appearance: none;
        border: 1px solid black;
        border-radius: 4px;
        outline: none;
        padding: 0.5em 0.8em;
        margin-right: 15px;
        color: black;
        font-size: 1em;
        font-family: sans-serif;
        font-weight: bold;
        cursor: pointer;
        align-content: center;
        background-color: whitesmoke;
    }

    #submit:hover{
        background: gold;
    }

    #submit:active{
        background: goldenrod;
        color: black;
    }
</style>