@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="body">
    <div class="row">
        <div class="col-sm-6 col-md-6">
            <section class="container">
                <br />
                <br />
                <form class="trying" id="account" method="post">
                    <h3 style="color: darkgoldenrod;">Sign In</h3>
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label style="color: white;" asp-for="Input.Email">User Name <!--<span>(or email address on account)</span>--></label>
                        <input id="email" asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label style="color: white;" asp-for="Input.Password"></label>
                        <input id="password" asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label style="color: white;" asp-for="Input.RememberMe">
                                <input asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                    </div>
                    <center>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Log in</button>
                        </div>
                    </center>
                    <div class="form-group">
                        <p>
                            <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                        </p>
                    </div>
                </form>
            </section>
        </div>
        <div class="col-sm-1 col-md-1"><div id="vertical-line"></div></div>

        <div class="col-sm-5 col-md-5" align="center">
            <br />
            <br />
            <h3 style="color: darkgoldenrod;">Sign Up</h3>
            <br />
            <br />
            <br />
            <div id="register-ques">
                <h5>New to <span>PLANITURE</span> ?</h5>
            </div>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <p><a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Open Account</a> or <a href="#">Create Profile</a> today</p>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
<style>

    .row {
        position: relative;
        padding: 100px;
        min-height: 100vh;
        background-size: cover;
        display: flex;
        /*border: 3px solid #E89E63;*/
    }
    /*the divider*/
    #vertical-line {
        width: 5px;
        height: 500px;
        background-color: #E89E63;
    }
    /*Register question color scheme*/
    #register-ques h5 {
        color: white;
        text-align: center;
        line-height: 1em;
    }
    #register-ques h5 span {
        color: darkgoldenrod;
    }
    p{
        color: white;
        font-family: sans-serif;
    }
    .trying h3 {
        text-align: left;
    }
    .trying span {
        font-weight: 600;
    }

    .trying .btn {
        -webkit-appearance: none;
        border: 1px solid black;
        border-radius: 4px;
        outline: none;
        padding: 0.5em 0.8em;
        margin-right: 15px;
        color: black;
        font-size: 1em;
        font-family: sans-serif;
        font-weight: bold;
        cursor: pointer;
        align-content: center;
        width: 60%;
        background-color: whitesmoke;
    }
    .trying .btn:hover {
            background: gold;
    }
    .trying .btn:active {
            background: goldenrod;
            color: black;
    }
</style>