@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="body">
    <div class="row">
        <div class="col-sm-6 col-md-6"style="background-color: #484848;">
            <section class="container">
                <br />
                <br />
                <br />
                <br />
                <form class="trying" id="login" method="post">
                    <h1 style="color: white;">Login</h1>
                    <br>
                    <p style="color: black;">Sign In to your account</p>
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <div style="color:black;" class="input-group-prepend">
                                <span style="background-color: black;" class="input-group-text">
                                    <i width="16" height="16" style="color: white;" class="fa fa-user"></i>
                                </span>
                            </div>
                            <input id="email" asp-for="Input.Email" placeholder="Username" class="form-control" />

                        </div>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span style="background-color: black;" class="input-group-text">
                                    <i width="16" height="16" style="color: white;" class="fa fa-lock"></i>
                                </span>
                            </div>
                            <input id="password" asp-for="Input.Password" placeholder="Password" class="form-control" />
                        </div>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label style="color: white;" asp-for="Input.RememberMe">
                                <input asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                    </div>
                    <button id="submit" type="submit" class="btn btn-primary">Login</button>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                </form>
            </section>
        </div>
        <div style="background-color: #D4AF37;" class="col-sm-6 col-md-6" align="center">
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <h2 style="color: white;">Sign Up</h2>
            <br />
            <div id="register-ques">
                <h5 style="color:white;">New to PLANITURE?</h5>
            </div>
            <br />
            <br />
            <br />
            <center>
                <p><a id="account" role="button" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Open Account</a> or <a id="profile" asp-controller="Account" asp-action="RegisterProfile">Create Profile</a> today</p>
            </center>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
<style>
    .row {
        position: relative;
        padding: 100px;
        min-height: 100vh;
        background-size: cover;
        display: flex;
        /*border: 3px solid #E89E63;*/
    }
    /*the divider*/
    #vertical-line {
        width: 5px;
        height: 500px;
        background-color: #E89E63;
    }
    p{
        color: white;
        font-family: sans-serif;
    }
    .trying h3 {
        text-align: left;
    }
    .trying span {
        font-weight: 600;
    }

    #email, #password{
        background-color: dimgrey;
        color: white;
        padding: 6px 12px;
    }

    #email::placeholder, #password::placeholder{
        color:white;
    }

    #account, #profile {
        background: transparent;
        border: 1px solid black;
        padding:8px 16px;
        color:black;
        text-decoration-line: none;
        margin: 16px 0px 0px;
    }

    #account:hover, #profile:hover{
        font-weight: 600;
        color: white;
        background-color: black;
        transition: .3s;
    }

    #forgot-password {
        color: #D4AF37;
        font-size: 14px;
        padding: 6px 0px;
    }

    #forgot-password:hover{
        color: gold;
    }

    #submit {
        color: black;
        background-color: #D4AF37;
        border: 1px solid black;
        border-radius: 10px;
        padding: 10px 24px;
        width: 20%;
        font-weight: 500;
        font-size: 14px;
    }

    #submit:hover{
        background-color: gold;
    }
</style>