@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<body onload="successfully()">

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</body>

<script type="text/javascript">
    function successfully() {
        Swal.fire({
            icon: 'success',
            title: 'User Password was successfully Reset',
            text: "Your password has been reset. Please click the button to log in.",
            confirmButtonText:
                '<a href="https://localhost:44336/Identity/Account/Login">Login</a>',
        })
    }
</script>