@model Planiture_Website.Models.DepositWithdrawalClass
@{
    ViewData["Title"] = "Deposit / Withdrawal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<asp:Content id="BodyContent" ContentPlaceHolderID="Main Content" runat="server">
    <div class="profile-background">
        <div class="profile-menu" id="profile">

            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <!--<h2>@ViewData["Title"]</h2>-->
            <div class="row">
                <div class="col-sm-5 col-md-5">
                    <form method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <h4>Deposit</h4>
                        <br />
                        <p>
                            (only debit cards are accepted for Deposits)
                        </p>
                        <br />
                        <div class="form-group">
                            <label asp-for="CardName"></label>
                            <input asp-for="CardName" class="form-control" />
                            <span asp-validation-for="CardName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CardNumber"></label>
                            <input asp-for="CardNumber" class="form-control" />
                            <span asp-validation-for="CardNumber" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ExpDate"></label>
                            <input type="date" asp-for="ExpDate" class="form-control" />
                            <span asp-validation-for="ExpDate" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="DepositAmount"></label>
                            <input asp-for="DepositAmount" class="form-control" />
                            <span asp-validation-for="DepositAmount" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CVV"></label>
                            <input asp-for="CVV" class="form-control" />
                            <span asp-validation-for="CVV" class="text-danger"></span>
                        </div>
                        <br />
                        <div class="form-group">
                            <center>
                                <button type="submit" class="btn btn-primary">(Process Deposit)</button>
                            </center>
                        </div>
                    </form>
                </div>
                <div class="col-sm-1 col-md-1"><div id="vertical-line"></div></div>
                <div class="col-sm-5 col-md-5">
                    <form method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <h4>Withdrawal</h4>
                        <br />
                        <div class="form-group">
                            <label asp-for="Name"></label>
                            <input type="text" asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="AccountNumber"></label>
                            <input type="text" asp-for="AccountNumber" class="form-control" />
                            <span asp-validation-for="AccountNumber" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="AccountType"></label>
                            <input type="radio" asp-for="AccountType" value="Trade" /> Trade
                            <input type="radio" asp-for="AccountType" value="Stocks" /> Stocks
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="WithdrawalAmount"></label>
                            <input type="text" asp-for="WithdrawalAmount" class="form-control" />
                            <span asp-validation-for="WithdrawalAmount" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Notes"></label>
                            <textarea asp-for="Notes" placeholder="(Optional)" class="form-control"></textarea>
                            <span asp-validation-for="Notes" class="text-danger"></span>
                        </div>
                        <br />
                        <div class="form-group">
                            <center>
                                <button type="submit" class="btn btn-primary">(Process Withdrawal)</button>
                            </center>
                        </div>
                    </form>
                </div>
            </div>

            <br />
            <div class="form-group" align="center">
                <button id="cancelBtn" type="reset" class="btn btn-primary" onclick="location.href = '@Url.Action("Index", "Profile")';">CANCEL</button>
            </div>
        </div>
    </div>
</asp:Content>

<style>
    h4 {
        font-size: 40px;
        font-weight: 200;
        margin-bottom: 10px;
        color: darkgoldenrod;
        text-transform: uppercase;
        text-align: center;
    }

    /*the divider*/
    #vertical-line {
        width: 5px;
        height: 500px;
        background-color: #E89E63;
    }

    /*button*/
    #cancelBtn {
        -webkit-appearance: none;
        border: 1px solid #E89E63;
        border-radius: 4px;
        outline: none;
        padding: 0.5em 0.8em;
        margin-right: 15px;
        color: black;
        font-size: 1em;
        font-family: sans-serif;
        font-weight: bold;
        cursor: pointer;
        align-content: center;
        background-color: #ffe8d7;
    }
    #cancelBtn:hover {
         background: gold;
    }
    #cancelBtn:active {
         background: goldenrod;
         color: black;
    }
</style>