@model Planiture_Website.ViewModels.UploadPhoto

@{
    ViewData["Title"] = "Upload Photo";
}


<body>
    <div class="upload-menu">
        <h1>@ViewData["Title"]</h1>

        <form enctype="multipart/form-data" asp-action="UploadConfirmed">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div style="text-align: -webkit-center;">
                <img src="~/image/@Model.ProfileImageName" height="300" width="300" id="Profile_Image_Preview" />
                <br />
                <br />
                <br />
            </div>
            <br />
            <center>
                <input accept="image/*" type="file" asp-for="ProfileImage" id="Profile_Image" />
                <span asp-validation-for="ProfileImage" class="text-danger"></span>
                <input type="submit" value="Upload Image" class="btn btn-success" />
            </center>
        </form>
        <br />
        <br />
        <br />
        <div>
            <a style="color: goldenrod;" asp-action="Index">Back to List</a>
        </div>
    </div>
</body>

<style>
    .upload-menu {
        position: relative;
        padding: 100px;
        min-height: 100vh;
        background-size: cover;
        justify-content: center;
        align-items: center;
    }
    img {
        border: 2px solid darkgoldenrod;
        color: darkgoldenrod;
        background-color: grey;
    }
    h1 {
        font-size: 40px;
        font-weight: 200;
        margin-bottom: 10px;
        color: darkgoldenrod;
        text-transform: uppercase;
        text-align: right;
    }
    label{
        color: white;
        font-family: sans-serif;
        font-size: 16px;
    }
    #Profile_Image {
        color: white;
        font-family: sans-serif;
    }
</style>

<script>
    $(document).ready(function () {
        //Load Preview of profile Image
        function previewImage(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#Profile_Image_Preview').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        //Onclick image select load previewImage function
        $("#Profile_Image").change(function () {
            previewImage(this);
        });
    });
</script>