/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/*KINGZWILL ADDED THE FOLLOWING*/

/* html
-------------------------------------------------- */

html {
    font-size: 14px;
    /*
      position: relative;
      min-height: 100%;
  */
    /*KINGZWILL ADDED THE FOLLOWING*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; /*not sure if this works just it out later*/
    font-family: sans-serif;
}



.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}


/* Provide sufficient contrast against white background */

a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #ffe8d7;
    border-color: #1861ac;
}


/* Body
-------------------------------------------------- */
/*JUST ADDED BY KINGZWILL*/
body {
    margin-bottom: 60px; /*something here affects the footer*/
    background-color: black; /*website background color*/
    min-height: 1000px;
}


/* Body Footer
-------------------------------------------------- */
footer {
    position: inherit;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

footer div.row div.col-sm-6 a, 
footer div.row div.col-sm-6 h6,
footer div.row div.container
{
    color: white;
}



/*Loader*/
.loader {
    border: 16px solid gold;
    border-radius: 50%;
    border-top: 16px solid black;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

.main {
    width: 90%;
    opacity: 0;
    display: none;
    transition: opacity 1s ease-in;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

