@model Planiture_Website.ViewModels.TokenViewModel
@{
    ViewData["Title"] = "Application";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<br />
<br />
<br />
<br />

<div class="apply-menu" id="apply">
    <h1>@ViewData["Title"]</h1>

    <br />
    <div class="row">
        <div class="col-sm-4 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h3>BASIC ACCOUNT</h3>
                    <br />
                    <p>
                        Deposit cash to your account for signal plans to have your funds traded in
                        the currency & commodity market
                        <br />
                        <br />
                        <br />
                        <a id="account" asp-controller="Home" asp-action="BasicAccount">CONTINUE</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h3>
                        STOCK PORTFOLIO
                    </h3>
                    <br />
                    <p>
                        Deposit cash to your account and have your funds invested into the stock market
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <a id="account" asp-controller="Home" asp-action="StocksAccount">CONTINUE</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h3>ADVANCE ACCOUNT</h3>
                    <br />
                    <p>
                        Deposit cash to your account and have your funds traded in signal plans and invested
                        into stocks
                        <br />
                        <br />
                        <br />
                        <a id="account" asp-controller="Home" asp-action="AdvancedAccount">CONTINUE</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
    <div class="row">
        <div class="col-sm-3 col-md-3"></div>
        <div class="col-sm-6 col-md-6">
            <div class="thumbnail">
                <div class="caption">
                    <form method="post">
                        <h3>
                            G20 GROUP
                        </h3>
                        <br />
                        <p>
                            Deposit cash to your account and have the company manage your account
                            <br />
                            <br />
                            <input asp-for="Code" type="text" placeholder="Enter promotion code" />
                            <br />
                            <br />
                            <input id="account" type="submit" value="Continue"/>
                            <br />
                            <br />
                            <span style="background-color:peachpuff; color: red;">@ViewBag.UsedMsg</span>
                            <span style="background-color:peachpuff; color: red;">@ViewBag.ErrorMsg</span>
                        </p>
                    </form>
                    
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-md-3"></div>
    </div>
</div>


<style>
    .apply-background {
        position: relative;
        width: 100%;
        min-height: 100vh;
        background-size: cover;
        display: flex; /*changed from inline*/
        justify-content: center;
        align-items: center;
    }

    .apply-menu {
        position: relative;
        text-align: center;
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
    }

    .apply-menu h1 {
        font-size: 40px;
        font-weight: 200;
        margin-bottom: 10px;
        color: darkgoldenrod;
        text-transform: uppercase;
        text-align: right;
    }

    .apply-menu h3 {
        text-align: center;
        color: white;
        text-transform: uppercase;

    }

    .apply-menu p {
        position: relative;
        font-size: 18px;
        font-weight: 300;
        font-family: sans-serif;
        margin-bottom: 20px;
        letter-spacing: 1px;
        color: white;
    }

     .apply-menu .row .col-sm-4 .thumbnail {
        border: 5px solid;
        border-radius: 4px;
        padding: 35px;
        width: 100%;
        border-color: darkgoldenrod;
     }   
     .apply-menu .row .col-sm-6 .thumbnail {
        border: 5px solid;
        border-radius: 4px;
        padding: 35px;
        width: 100%;
        border-color: darkgoldenrod;
     }

    #account {
        color: black;
        background-color: white;
        border: 1px solid goldenrod;
        border-radius: 10px;
        padding: 10px;
        width: 60%;
    }

    #account:hover{
        color: white;
        background-color: goldenrod;
        transition: .3s;
        text-decoration-line: none;
    }
    
    #account:active{
        border-radius: 10px;
        box-shadow: 3px 3px 5px goldenrod;
        transition: .3s;
    }
</style>