
@{
    ViewData["Title"] = "AccountConfirmed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>AccountConfirmed</h1>

<body onload="successfully()">

</body>

<script type="text/javascript">
    function successfully() {
        Swal.fire({
            icon: 'success',
            title: 'User Account Has been successfully created!',
            text: "Download the <b>'Planiture App</b> from the AppStore or PlayStore for updates, notification and to manage your account",
            confirmButtonText:
                '<a href="https://localhost:44336/Profile">Load User Profile / Account</a>',
        })
    }
</script>