@model Planiture_Website.Models.Investment_Info

@{
    ViewData["Title"] = "Basic Account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .body {
        position: relative;
        padding: 100px;
        min-height: 100vh;
        background-size: cover;
    }

    legend {
        text-align: right;
        font-size: 40px;
        font-weight: 200;
        margin-bottom: 10px;
        color: darkgoldenrod;
    }

    p, label {
        color: white;
        font-family: sans-serif;
    }

    #button {
        -webkit-appearance: none;
        border: 1px solid black;
        border-radius: 4px;
        outline: none;
        padding: 0.5em 0.8em;
        margin-right: 15px;
        color: black;
        font-size: 1em;
        font-family: sans-serif;
        font-weight: bold;
        cursor: pointer;
        align-content: center;
        background-color: whitesmoke;
    }

    #button:hover{
        background: gold;
    }

    #button:active{
        background: goldenrod;
        color: black;
    }

    #input, #signature,
    #SignDate, #TodayDate, #disabled {
        position: relative;
        border: none;
        border-bottom: 1px solid white;
        color: white;
        background: transparent;
        width: 100%;
        padding: 10px 0;
        outline: none;
        font-size: 18px;
        font-weight: 400;
        margin: 20px 0;
        resize: none;
    }

    #disabled::placeholder, #signature::placeholder {
        color: darkgoldenrod;
    }

    #disabled, #signature{
        border: 1px solid darkgoldenrod;
    }

</style>

<div class="body">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <br />
        <br />
        <fieldset class="basic-account">
            <legend>Basic Account</legend>
            <br />
            <br />
            
            <p>
                -----------------------------------------------------------------------------------------------------------------
                <br />
                INVESTMENT QUESTIONS:
                <br />
                -----------------------------------------------------------------------------------------------------------------
            </p>
            <br />
            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                        <label asp-for="Ques1">Have you ever invested into an Investment Plan before?</label>
                        <select id="input" asp-for="Ques1" required>
                            <option style="color: black;" value="" selected hidden>Select</option>
                            <option style="color: black;" value="No">No</option>
                            <option style="color: black;" value="Yes">Yes</option>
                        </select>
                        <span asp-validation-for="Ques1" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <label asp-for="Ques2">On what terms have you ever invested?</label>
                    <select id="input" asp-for="Ques2" required>
                        <option style="color: black;" value="" selected hidden>Select</option>
                        <option style="color: black;" value="Short Term">Short Term</option>
                        <option style="color: black;" value="Long Term">Long Term</option>
                        <option style="color: black;" value="Both">Both</option>
                    </select>
                    <span asp-validation-for="Ques2" class="text-danger"></span>

                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                        <label asp-for="Ques3">What motivated you to invest with Planiture Online Investments?</label>
                        <input type="text" id="input" asp-for="Ques3" />
                        <span asp-validation-for="Ques3" class="text-danger"></span>

                    </div>
                </div>
                <div class="col-sm-6 col-md-6 form-group">
                    <label asp-for="Ques4">How do you rate knowledge on trading and investments?</label>
                    <select id="input" asp-for="Ques4" required>
                        <option style="color:black;" value="" selected hidden>Select</option>
                        <option style="color:black;" value="No Knowledge">No Knowledge</option>
                        <option style="color:black;" value="Beginners Level">Beginners Level</option>
                        <option style="color:black;" value="Intermediate Level">Intermediate Level</option>
                        <option style="color:black;" value="Advance Level">Advance Level</option>
                    </select>
                    <span asp-validation-for="Ques4" class="text-danger"></span>

                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="form-group">
                        <label asp-for="Ques5">Realistically, what is your financial aim/goals with Planiture Online Investments within the next 2 years?</label>
                        <textarea id="input" asp-for="Ques5" class="form-control" rows="4" cols="20" required></textarea>
                        <span asp-validation-for="Ques5" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <br />
            <br />
            <fieldset class="beneficiary-section">
                <p>
                    -----------------------------------------------------------------------------------------------------------------
                    <br />
                    BENEFICIARY INFORMATION:
                    <br />
                    -----------------------------------------------------------------------------------------------------------------
                </p>
                <br />
                <div class="row">
                    <div class="col-sm-6 col-md-6 form-group">
                        <input id="input" asp-for="Bene_FirstName" class="form-control" required />
                        <label asp-for="Bene_FirstName"></label>
                        <span asp-validation-for="Bene_FirstName" class="text-danger"></span>
                    </div>
                    <div class="col-sm-6 col-md-6 form-group">
                        <input id="input" asp-for="Bene_LastName" class="form-control" required />
                        <label asp-for="Bene_LastName"></label>
                        <span asp-validation-for="Bene_LastName" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-6">
                        <input id="input" asp-for="Bene_Contact" class="form-control" required />
                        <label asp-for="Bene_Contact"></label>
                        <span asp-validation-for="Bene_Contact" class="text-danger"></span>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <input id="input" asp-for="Bene_Relationship" class="form-control" required />
                        <label asp-for="Bene_Relationship"></label>
                        <span asp-validation-for="Bene_Relationship" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Bene_Email"></label>
                    <input id="input" asp-for="Bene_Email" class="form-control" placeholder="ex: name@mail.com" required />
                    <span asp-validation-for="Bene_Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BenAddress"></label>
                    <textarea id="input" asp-for="BenAddress" class="form-control" id="TextArea1" rows="4" cols="20" required></textarea>
                    <span asp-validation-for="BenAddress" class="text-danger"></span>
                </div>
            </fieldset>
            <br />
            <div class="disclaimer-section">
                <p>DISCLAIMER:<br />-----------------------------------------------------------------------------------------------------------------</p>

                <br />
                <p>I CERTIFY THAT MY ANSWERS ARE TRUE AND COMPLETE TO THE BEST OF MY KNOWLEDGE</p>
                <br />
                <br />
                <div class="form-group">
                    <label>INVESTMENT COMPANY: </label>
                    <input id="disabled" type="text" placeholder="PLANITURE ONLINE INVESTMENT" disabled />
                    <br />
                    <label>INVESTOR SIGNATURE: </label>
                    <input type="text" id="signature" placeholder="PLANITURE ONLINE INVESTMENT" disabled />
                    <br />
                    <label>DATE: </label>
                    <input type="date" id="TodayDate" />
                    <br />
                    <label>CLIENT FULL NAME: </label>
                    <input id="input" type="text" required />
                    <br />
                    <label asp-for="Signature">SIGNATURE: </label>
                    <input id="input" type="text" asp-for="Signature" required />
                    <br />
                    <label>DATE: </label>
                    <input type="date" id="SignDate" required />
                    <br />
                    <br />
                </div>
            </div>
        </fieldset>
        <div class="form-group" align="center">
            <button id="button" type="reset" class="btn btn-primary" onclick="location.href = '@Url.Action("CreateApplication", "Home")';">CANCEL</button>
            <input id="button" type="submit" value="SAVE & CONTINUE" class="btn btn-primary" />
        </div>
    </form>
    
</div>


<!--<div>
    <a asp-action="Index">Back to List</a>
</div>-->
