
@{
    ViewData["Title"] = "Investment Plans";
}


<body>
    <section id="signals-background">
        <div class="signals-menu" id="signals">
            <div class="container">
                <h1>@ViewData["Title"]</h1>
                <div class="row">
                    <div class="col-sm-4 col-md-4">
                        <div class="card">
                            <div class="card-header">
                                <h4>B PLAN</h4>
                            </div>
                            <div class="card-img">
                                <img src="~/image/binarysubcribe.jpg" width="273" height="200" />
                            </div>
                            <div class="card-footer"></div>
                        </div>
                    </div>
                    <div class="col-sm-8 col-md-8 ">
                        <div id="border">
                            <div class="row">
                                <div class="col-sm-4 col-md-4">
                                    <p>PLAN NAME: </p>
                                    <p>INVEST: </p>
                                    <p>RETURN: </p>
                                    <p>INVEST PERIOD: </p>
                                    <p>COMMISSION: </p>
                                    <p>SERVICE FEE: </p>
                                    <p>EXECUTION DATE: </p>
                                    <p>PLAN EXP.: </p>
                                    <p>CREATOR: </p>
                                    <p>PLAN No.: </p>
                                    <p>DESCRIPTION: </p>
                                    <p></p>
                                    <p></p>

                                </div>
                                <div class="col-sm-8 col-md-8">
                                    <p>B-Plan</p>
                                    <p>$100.00</p>
                                    <p>$500.00</p>
                                    <p>30 Business Days</p>
                                    <p>$5.99</p>
                                    <p>20%</p>
                                    <p>Sept-25-2020</p>
                                    <p>Sept-28-2020</p>
                                    <p>C. Babootie</p>
                                    <p>OPP-XXXC</p>
                                    <p>
                                        invest $100.00 for business days for a return of $500.00.<br />
                                        Commision Fee: $5.99<br />
                                        Service Fee: 20% of Returns<br /><br />
                                        Plan Execution
                                    </p>
                                </div>
                            </div>

                            <center>
                                <input id="check" type="checkbox" value="Terms & Condition" />
                                <label style="color: white;" for="check">Agree to <a asp-controller="Home" asp-action="Policy">Terms and Conditions</a></label>
                            </center>
                        </div>
                        <br />
                        <br />
                        <center>
                            <form method="post">
                                <a id="click" asp-action="SignalPlans" asp-controller="Home">Back</a> <button disabled id="apply" type="submit">Apply To Account</button>
                            </form>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

<style>
    .signals-background {
        position: relative;
        width: 100%;
        min-height: 100vh;
        background-size: cover;
        display: flex; /*changed from inline*/
        justify-content: center;
        align-items: center;
    }

    .signals-menu {
        position: relative;
        padding: 100px;
        min-height: 100vh;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .signals-menu h1 {
        font-size: 40px;
        font-weight: 200;
        margin-bottom: 10px;
        color: darkgoldenrod;
        text-transform: uppercase;
        text-align: right;
    }

    .card {
        border: 1px solid goldenrod;
        border-radius: 10px;
        box-shadow: 3px 3px 5px grey;
    }

    .card-header h1{
        text-align: center;
    }

    .col-md-8 #border {
        border: 1px dashed goldenrod;
    }

    .col-md-8 #border p{
        color: white;
        padding: 10px;
        font-family: sans-serif;
    }

    .col-md-8 #click, .col-md-8 #apply {
        color: black;
        background-color: white;
        border: 1px solid goldenrod;
        border-radius: 10px;
        padding: 10px;
    }
    
    .col-md-8 #click:hover, .col-md-8 #apply:hover{
        color: white;
        background-color: goldenrod;
        transition: .3s;
        text-decoration-line: none;
    }
    
    .col-md-8 #click:active, .col-md-8 #apply:active{
        border-radius: 10px;
        box-shadow: 3px 3px 5px goldenrod;
        transition: .3s;
    }
    #apply:disabled{
        color: black;
        background-color: grey;
    }
</style>

<script type="text/javascript">
    var checkbox = document.getElementById("check");
    var button = document.getElementById("apply");
    checkbox.onchange = function () {
        button.disabled = !this.checked;
    };
</script>