@model Planiture_Website.Models.CheckOutClass
@{
    ViewData["Title"] = "Check Out";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="checkout-background">
        <!--added image-->
        <div class="checkout-menu" id="checkout">
            <div class="container">
                <br />
                <h1>Check Out</h1>
                <br />
                <br />
                <div class="row">
                    <div class="col-sm-6 col-md-6">
                        <div class="thumbnail">
                            <div class="caption">
                                <h3 style="text-align:center;">PLANITURE<br />DAILY SIGNALS<br />SUBSCRIPTION</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 form-background">
                        <form method="post">
                            <div class="row100">
                                <div class="inputBx100">
                                    <label asp-for="Card_Holder_Name">Card Holder's Name:</label>
                                    <input id="input" asp-for="Card_Holder_Name" type="text" required />
                                </div>
                            </div>
                            <div class="row100">
                                <div class="inputBx100">
                                    <label asp-for="Card_Number">Card Number: </label>
                                    <input id="input" asp-for="Card_Number" type="text" required />
                                </div>
                            </div>
                            <div class="row100">
                                <div class="inputBx100">
                                    <label asp-for="Exp">Exp: </label>
                                    <input id="input" asp-for="Exp" type="text" required />
                                </div>
                            </div>
                            <div class="row100">
                                <div class="inputBx100">
                                    <label asp-for="CVV">CVV: </label>
                                    <input id="input" asp-for="CVV" type="text" required />
                                </div>
                            </div>

                            <br />
                            <br />
                            <center>
                                <a style="text-align:center;" asp-controller="Home" asp-action="Policy">View Refund Policy</a>
                                <br />
                                <br />
                                <br />
                                <br />
                                <button style="text-align:center;" id="Btn" type="submit" value="Process Payment" class="btn btn-primary">Process Payment</button>
                                <br />
                                <br />
                                <button style="text-align:center;" id="Btn" type="reset" class="btn btn-primary" onclick="location.href = '@Url.Action("DailySignals", "Home")';">CANCEL</button>
                            </center>

                        </form>
                    </div>
                </div>
            </div>
        </div>

</section>

<style>
    .checkout-background {
        position: relative;
        width: 100%;
        min-height: 100vh;
        background-size: cover;
        display: flex; /*changed from inline*/
        justify-content: center;
        align-items: center;
    }
    .checkout-menu {
        position: relative;
        padding: 100px;
        min-height: 100vh;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .checkout-menu h1 {
        font-size: 40px;
        font-weight: 200;
        margin-bottom: 10px;
        color: darkgoldenrod;
        text-transform: uppercase;
        text-align: right;
    }

    h3 {
        font-size: 30px;
        font-weight: 400;
        margin-bottom: 10px;
        color: darkgoldenrod;
        text-transform: uppercase;
        text-align: right;
    }

    .checkout-menu p {
        position: relative;
        font-size: 18px;
        font-weight: 300;
        margin-bottom: 20px;
        letter-spacing: 1px;
    }

    .row .col-sm-6 .thumbnail {
        border: 5px solid;
        border-radius: 4px;
        padding: 35px;
        width: 100%;
        border-color: darkgoldenrod;
    }

    /*Form Design*/
    .form-background {
        background-color: black;
        border: 1px dashed goldenrod;
        padding: 15px;
    }
    form .row100 {
        display: flex;
        width: 100%;
    }
    form .row100 .inputBx100 {
        width: 100%;
        margin: 0 20px;
    }
    form .row100 input{
        position: relative;
        border: none;
        border-bottom: 1px solid white;
        color: black;
        background: transparent;
        /*width: 100%;
        padding: 10px 0;*/
        outline: none;
        margin: 20px 0;
        resize: none;
    }

    #input, label {
        color: white;
        font-size: 18px;
        font-weight: 400;
    }

    #Btn {
        color: black;
        background-color: white;
        border: 1px solid goldenrod;
        border-radius: 10px;
        padding: 10px;
        width: 60%;
    }

    #Btn:hover{
        color: white;
        background-color: goldenrod;
        transition: .3s;
        text-decoration-line: none;
    }
    #Btn:active{
        border-radius: 10px;
        box-shadow: 3px 3px 5px goldenrod;
        transition: .3s;
    }

</style>