
@{
    ViewData["Title"] = "ForExVideos";
}


<body>
    <div id="forex-menu">
        <table class="table">
            <thead style="color: white; text-transform: uppercase; background-color: black; border:1px solid white;">
                <tr>
                    <th colspan="3" style="border-right:none;border-top:2px solid silver;font-size:24px;">Planiture</th>
                    <th colspan="4" style="text-align:right; border-top:2px solid silver;font-size:18px;">Academy</th>
                </tr>
                <tr>
                    <th colspan="2">Video</th>
                    <th colspan="2">Status</th>
                    <th colspan="2">Video</th>
                    <th colspan="2">Status</th>
                </tr>
            </thead>
            <tbody style="color: black; background-color: goldenrod;">
                <tr>
                    <td colspan="2">What is ForEx?</td>
                    <td colspan="2"></td>
                    <td colspan="2">Pairs</td>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td colspan="2">ForEx History</td>
                    <td colspan="2"></td>
                    <td colspan="2">What are candlesticks?</td>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td colspan="2">What is traded in ForEx?</td>
                    <td colspan="2"></td>
                    <td colspan="2">Candlestick pattern</td>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td colspan="2">Who participates in the market?</td>
                    <td colspan="2"></td>
                    <td colspan="2">Reading candlesticks</td>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td colspan="2">When to trade in the market?</td>
                    <td colspan="2"></td>
                    <td colspan="2">Support & Resistance</td>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td colspan="2">What is buy and sell?</td>
                    <td colspan="2"></td>
                    <td colspan="2">Support & Resistance - in dept</td>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td colspan="2">What is trendline?</td>
                    <td colspan="2"></td>
                    <td colspan="2">Trading Window</td>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td colspan="2">Identifying trendlines</td>
                    <td colspan="2"></td>
                    <td colspan="2">ForEx Terminology - Part 1</td>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td colspan="2">What is a pip</td>
                    <td colspan="2"></td>
                    <td colspan="2">ForEx Terminology - Part 2</td>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td colspan="2">What is a Lot Size?</td>
                    <td colspan="2"></td>
                    <td colspan="2">Price Action</td>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td colspan="2">Who is a broker?</td>
                    <td colspan="2"></td>
                    <td colspan="2">Pull Backs</td>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td colspan="2">Trading platforms</td>
                    <td colspan="2"></td>
                    <td colspan="2">Price Reversals</td>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td colspan="2">Trading View</td>
                    <td colspan="2"></td>
                    <td colspan="2">Your Trading Plan</td>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td colspan="2">MT4 (Android)</td>
                    <td colspan="2"></td>
                    <td colspan="2">Twin Trading</td>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td colspan="2">MT4 (iPhone)</td>
                    <td colspan="2"></td>
                    <td colspan="2">Trading Triangles</td>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td colspan="2">Time Zones</td>
                    <td colspan="2"></td>
                    <td colspan="2">Fibonnaci - Part 1</td>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td colspan="2">Bid, Ask - Spread</td>
                    <td colspan="2"></td>
                    <td colspan="2">Fibonnaci - Part 2</td>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td colspan="2">Margin & Leverage</td>
                    <td colspan="2"></td>
                    <td colspan="2">Butterfly Pattern</td>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td colspan="2">Types of Analysis</td>
                    <td colspan="2"></td>
                    <td colspan="2">Risk Management</td>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td colspan="2">Technical Analysis</td>
                    <td colspan="2"></td>
                    <td colspan="2">Identifying market trends</td>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td colspan="2">Fundamental Analysis</td>
                    <td colspan="2"></td>
                    <td colspan="2">Market Geometry</td>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td colspan="2">Analysis</td>
                    <td colspan="2"></td>
                    <td colspan="2">Market Geometry 1</td>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td colspan="2">MT4 - How to enter trade (Android)</td>
                    <td colspan="2"></td>
                    <td colspan="2">Market Geometry 2</td>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td colspan="2">MT4 - How to enter trade (iPhone)</td>
                    <td colspan="2"></td>
                    <td colspan="2">Patience while trading - 101</td>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td colspan="2">Descipline & Consistency - 101</td>
                    <td colspan="2"></td>
                    <td colspan="2">How to copy & paste trades</td>
                    <td colspan="2"></td>
                </tr>
                <tr>
                </tr>
            </tbody>
        </table>
    </div>
</body>

<div>
    <a style="color:goldenrod;" asp-action="PlanitureAcademy">Back to List</a>
</div>

<style>
    #forex-menu {
        position: relative;
        padding: 100px;
        min-height: 100vh;
        background-size: cover;
        justify-content: center;
        align-items: center;
    }
    table {
        padding: 40px;
        background-color: white;
    }
    tbody {
        border: 2px solid silver;
        font-weight: 500;
    }

    th {
        border: 2px solid silver;
    }
    td{
        border
    }
</style>