
@{
    ViewData["Title"] = "ForExContent";
}


<body>
    <div id="forex-menu">
        <table class="table">
            <thead style="color: white; text-transform: uppercase; background-color: black; border:1px solid white;">
                <tr>
                    <th colspan="3" style="border-right:none;border-top:2px solid silver;font-size:24px;">Planiture</th>
                    <th colspan="4" style="text-align:right; border-top:2px solid silver;font-size:18px;">Academy</th>
                </tr>
                <tr>
                    <th colspan="3">Books</th>
                    <th colspan="4">Status</th>
                </tr>
            </thead>
            <tbody style="color: black; background-color: goldenrod;">
                <tr>
                    <td colspan="2">What is Planiture?</td>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td colspan="2">Planiture Services</td>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td colspan="2">Planiture Investment Plans</td>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td colspan="2">Planiture Earn & Learn</td>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td colspan="2">Planiture Signals</td>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td colspan="2">Planiture Stocks</td>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td colspan="2">Planiture Team</td>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td colspan="2">Planiture Achievements</td>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td colspan="2">Planiture Contact Us</td>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td colspan="2">Investment Plans</td>
                    <td colspan="2"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

<div>
    <a style="color:goldenrod;" asp-action="PlanitureAcademy">Back to List</a>
</div>

<style>
    #table{
        max-width: 100%;
        height: auto;
        width: auto;
    }
    #forex-menu {
        position: relative;
        padding: 100px;
        min-height: 100vh;
        background-size: cover;
        justify-content: center;
        align-items: center;
    }

    table {
        padding: 40px;
        background-color: white;
    }

    tbody {
        border: 2px solid silver;
        font-weight: 500;
    }

    th {
        border: 2px solid silver;
    }
</style>
