
@{
    ViewData["Title"] = "ForEx Course";
}

<body>
    <div id="forex-menu">
        <table class="table">
            <thead style="color: white; text-transform: uppercase; background-color: black; border:1px solid white;">
                <tr>
                    <th colspan="3" style="border-right:none;border-top:2px solid silver;font-size:24px;">Planiture</th>
                    <th colspan="4" style="text-align:right; border-top:2px solid silver;font-size:18px;">6 Weeks ForEx Course</th>
                </tr>
                <tr>
                    <th>Day</th>
                    <th>Course</th>
                    <th>Cover Points</th>
                    <th>Quiz</th>
                    <th>Assessment</th>
                    <th>Send To Student</th>
                    <th>Notes</th>
                </tr>
            </thead>
            <tbody style="color: black; background-color: goldenrod;">
                <tr>
                    <td>1</td>
                    <td>INTRODUCTION</td>
                    <td>Cover Areas</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>CANDLESTICK & TERMS</td>
                    <td>Cover Areas</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>UNDERSTAND TRADING PLATFORMS</td>
                    <td>Cover Areas</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>ANALYSIS</td>
                    <td>Cover Areas</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>ANALYSIS AND PRACTICE WEEK</td>
                    <td>Cover Areas</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>APPLYING AND PRACTICE WEEK</td>
                    <td>Cover Areas</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>TWIN TRADING & APPLYING TO STRAT.</td>
                    <td>Cover Areas</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>FIBANACCI & APPLYING STRAT.</td>
                    <td>Cover Areas</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>BINARY TRADING</td>
                    <td>Cover Areas</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>APPLYING BINARY</td>
                    <td>Cover Areas</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

<div>
    <a style="color:goldenrod;" asp-action="PlanitureAcademy">Back to List</a>
</div>


<style>
    #forex-menu {
        position: relative;
        padding: 100px;
        min-height: 100vh;
        background-size: cover;
        justify-content: center;
        align-items: center;
    }

    table {
        padding: 40px;
        background-color: white;
    }

    tbody {
        border: 2px solid silver;
        font-weight: 500;
    }

    th {
        border: 2px solid silver;
    }
</style>