
@{
    ViewData["Title"] = "Information Center";
}

<!DOCTYPE html>

<body>
    <div class="info-background">
        <div class="info-menu">
            <h1>@ViewData["Title"]</h1>
            <br />
            <br />
            <div class="row">
                <div class="col-sm-3 col-md-3">
                    <h4>WEBSITE INFORMATION</h4>
                    <hr />
                    <br />
                    <button class="accordion">Who we are?</button>
                    <div class="panel">
                        <p>
                            Planiture Online Investments is an investment entity that offers clients the option of using their money to make money by investing in our investment plans and buying stocks.
                            Planiture Online Investments also offers an Earn & Learn platform where individuals can join our signal group for trade signals and learn how to trade and invest for themselves.
                        </p>
                    </div>
                    <button class="accordion">What we do?</button>
                    <div class="panel">
                        <p>
                            Planiture Online Investments is an investment entity that trades and invests for profits and extends these skills in the form of products and services to others to help make a
                            financial change in their lives.
                        </p>
                    </div>
                    <button class="accordion">Operating Hours</button>
                    <div class="panel">
                        <p>
                            Planiture Online Investment operating hours:
                            <br />
                            <br />
                            Business Hours: Monday - Friday 9AM - 6PM
                            <br />
                            Live Chat Hours: Monday - Friday 11AM - 5PM
                            <br />
                            Saturday      12PM-4PM
                            <br>
                            Sunday         CLOSED
                            <br />
                            <br />
                            Email Response Time: 24-72 business hours

                        </p>
                    </div>
                    <button class="accordion">Supported Browsers</button>
                    <div class="panel">
                        <p>
                            Planiture Online Investments is supported on the following browsers:
                            <ul>
                                <li>Google Chrome</li>
                                <li>Firefox</li>
                                <li>Edge</li>
                                <li>Brave</li>
                            </ul>
                        </p>
                    </div>
                    <button class="accordion">Supported Devices</button>
                    <div class="panel">
                        <p>
                            Planiture Online Investments website is supported on the following devices:
                            <ul>
                                <li>Computer/Laptop</li>
                                <li>Tablets</li>
                                <li>IPhones</li>
                                <li>Androids Phones</li>
                            </ul>
                        </p>
                    </div>
                    <button class="accordion">Cookie Usage</button>
                    <div class="panel">
                        <p>
                            We use cookies to collect information. A cookie is a small data file that a website stores on your computer’s hard disk for the
                            purpose of keeping records when you visit the website. Cookies allow us to improve your comfort of use

                        </p>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3">
                    <h4>GENERAL INQUIRES</h4>
                    <hr />
                    <br />
                    <button class="accordion">Password Requirements</button>
                    <div class="panel">
                        <p>
                            "With Planiture Online Investments being an investment entity, clients are required to create strong passwords for their accounts.
                            <br />
                            <br />
                            Password requirements:
                            <ul>
                                <li>Upper case letters</li>
                                <li>Lower case letters</li>
                                <li>Number</li>
                                <li>Special Character</li>
                            </ul>
                        </p>
                    </div>
                    <button class="accordion">How to change usename?</button>
                    <div class="panel">
                        <p>
                            To change your username:
                            <br />
                            Log into Planiture Account
                            <br />
                            From profile page, select ‘Edit profile’
                            <br />
                            Change username
                        </p>
                    </div>
                    <button class="accordion">Change Account Type</button>
                    <div class="panel">
                        <p>
                            If at any point you wish to change your account type (basic, stocks, advance), you can contact
                            a support member for assistance via Live Chat or email planitureinvestments@gmail.com
                        </p>
                    </div>
                    <button class="accordion">Cancel Stock Purchase</button>
                    <div class="panel">
                        <p>
                            An investment plan cannot be cancelled once the purchase has been successful. You can speak with a support member about further options.
                            Contact us via Live Chat or email via email planitureinvestments@gmail.com
                        </p>
                    </div>
                    <button class="accordion">Update Account Information</button>
                    <div class="panel">
                        <p>
                            You may also choose to modify most of your data on your own initiative by using the ‘Update Information’ on your Profile page, below your
                            Profile Picture. If you have any questions or concerns, please do not hesitate to submit an inquiry via email planitureinvestments@gmail.com.
                            <br />
                            <br />
                            <b>Note:</b> Update of Name and Date of Birth may require a Proof of Identity document.
                        </p>
                    </div>
                    <button class="accordion">Collected Information</button>
                    <div class="panel">
                        <p>
                            We collect both personal and aggregated information for multiple purposes.
                            <br />
                            The information is used:
                            <ul>
                                <li>To improve the content of the website</li>
                                <li>To customise the content and/or the layout of the website for each individual user</li>
                                <li>To notify users about updates to the website</li>
                                <li>
                                    To send out newsletters or information and update clients about other opportunities we believe will be of interest to you. We will only send this to you if you have indicated that you wish to receive such information.
                                </li>
                            </ul>
                        </p>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3">
                    <h4>PRODUCTS & SERVICES</h4>
                    <hr />
                    <br />
                    <button class="accordion">Planiture Products & Services</button>
                    <div class="panel">
                        <p>
                            Planiture Online Investments offers the following Products and Services:
                            <ul>
                                <li>Open an Account</li>
                                <li>Investment Plans</li>
                                <li>Stock Purchase</li>
                                <li>Create a Profile</li>
                                <li>Signal Subscription</li>
                                <li>Forex course</li>
                                <li>Mentorship</li>
                            </ul>
                        </p>
                    </div>
                    <button class="accordion">Account Fees</button>
                    <div class="panel">
                        <p>
                            There are fees that clients may encounter with an open account with Planiture Online Investments. These fees are:
                            <ul>
                                <li>Commission Fees - These are fees charged to execute an investment plan or stock execution</li>
                                <li>Service Fees - This is a fee charged after a successful Plan/stock purchase for investors payment.</li>
                                <li>No Active Fee - Client is charged a fee for not having an active plan/stock purchase for more than 7 days.</li>
                                <li>EWF (Early Withdrawal Fee) - This is a fee charged for Early withdrawal from a stock purchase.</li>
                                <li>ECF (Early Close Fee) - This is a fee charged for closing an account before 30 business days.</li>
                                <li>Close Fee - This is a fee charged to a non-active account before closure after 30days.</li>
                            </ul>
                        </p>
                    </div>
                    <button class="accordion">Cancel Account</button>
                    <div class="panel">
                        <p>
                            Account Holders are expected to keep an active account with Planiture Online Investments for at least 30 business days
                            to avoid an Early Closing Fee. a 3 day grace period is given before an Early Closing Fee applies. An account holder can
                            request to close their account after 30 business days once there is no active plan/stock purchase on the client's account.
                        </p>
                    </div>
                    <button class="accordion">Basic Account</button>
                    <div class="panel">
                        <p>
                            A Basic Account allows clients to participate in only Investment Plans. A Registered participant is required to purchase an
                            Investment Plan to activate their Basic Account.
                        </p>
                    </div>
                    <button class="accordion">Stocks Account</button>
                    <div class="panel">
                        <p>
                            A Stock Account gives registered clients the option to invest only in stocks. Registering participants are required to purchase
                            a stock from our Stock Portfolio to activate their Stock Account.
                        </p>
                    </div>
                    <button class="accordion">Advance Account</button>
                    <div class="panel">
                        <p>
                            An Advance Account gives registered clients the option to purchase Investment Plans and Stocks from our Stock Portfolio.
                            Registering participants are required to purchase an Investment Plan and a stock from our Stock Portfolio to activate their
                            Advance Account.
                        </p>
                    </div>
                    <button class="accordion">Inactive Account</button>
                    <div class="panel">
                        <p>
                            Planiture Online Investments is an investment entity that gives clients the opportunity to invest.
                            If a client fails to keep their account active No active fees may Apply.
                        </p>
                    </div>
                    <button class="accordion">Account Fees</button>
                    <div class="panel">
                        <p>
                            There are fees that clients may encounter with an open account with Planiture Online Investments. These fees are:
                            <ul>
                                <li>Commission Fees - These are fees charged to execute an investment plan or stock execution.</li>
                                <li>Service Fees - This is a fee charged after a successful Plan/stock purchase for investors’ payment.</li>
                                <li>No Active Fee - Client is charged a fee for not having an active plan/stock purchase for more than 7 days.</li>
                                <li>Early Withdrawal Fee (EWF) - This is a fee charged for Early withdrawal from a stock purchase.</li>
                                <li>Early Close Fee (ECF) - This is a fee charged for closing an account before 30 business days.</li>
                                <li>Close Fee - This is a fee charged to a non-active account before closure after 30days.</li>
                            </ul>
                        </p>
                    </div>
                    <button class="accordion">Profile Users</button>
                    <div class="panel">
                        <p>
                            Planiture Online Investments offers clients the opportunity to create a User Profile to participate in the following:
                            <ul>
                                <li>Signal Subscription</li>
                                <li>Forex Classes</li>
                                <li>Mindset Sessions</li>
                                <li>Mentorship</li>
                            </ul>
                        </p>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3">
                    <h4>TECHNICAL ISSUES</h4>
                    <hr />
                    <br />
                    <button class="accordion">Forgot Password?</button>
                    <div class="panel">
                        <p>
                            Forgot your password? Happens to the best of us.
                            <br />
                            Go to ‘Password Reset’
                            <br />
                            Enter the email addresss you signed up with
                            <br />
                            Select enter
                            <br />
                            Check your email for a password reset email
                        </p>
                    </div>
                    <button class="accordion">App not working?</button>
                    <div class="panel">
                        <p>
                            Here are a few troubleshooting steps:
                            <ul>
                                <li>Check for App update in your AppStore or PlayStore</li>
                                <li>Log out of app and log into app again</li>
                                <li>Clear App’s cache and cookie</li>
                                <li>Force Stop the App and re-open</li>
                                <li>Uninstall App and Install App again</li>
                            </ul>
                            <br />
                            <br />
                            Still having the same issue? Please ‘Contact Us’ to resolve this issue as soon as possible.
                        </p>
                    </div>
                </div>
            </div>
        </div>
</body>


<style>
        .info-background {
            position: relative;
            padding: 100px;
            min-height: 100vh;
            background-size: cover;
            display: flex;
            align-items: center;
        }

        .info-menu h1 {
            font-size: 40px;
            font-weight: 200;
            margin-bottom: 10px;
            color: darkgoldenrod;
            text-transform: uppercase;
            text-align: right;
        }

        .info-menu h4{
            text-align: center;
            color: white;
        }

        .accordion {
            background-color: goldenrod;
            color: black;
            cursor: pointer;
            padding: 18px;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            font-size: 15px;
            transition: 0.4s;
            border-radius: .4rem;
            box-shadow: .5rem 2px .5rem rgba(0,0,0,.1);

        }

        .active, .accordion:hover{
            background-color: darkgoldenrod;
        }

        .accordion:after{
            content: '\002B';
            color: black;
            font-weight: bold;
            float: right;
            margin-left: 5px;
        }

        .active:after{
            content: "\2212";
        }

        .info-menu p{
            position: relative;
            color: white;
        }

        .info-menu p::before {
            content: "";
            position: absolute;
            width: .6rem;
            height: 90%;
            background-color: #8fc460;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }

        .panel {
            padding: 0 18px;
            background-color: black;
            color: white;
            max-height: 0;
            overflow: hidden;
            position: relative;
            transition: max-height 650ms;
        }
        .panel p{
            padding: 1rem;

        }

        .col-sm-4 .panel:target{
            max-height: 20rem;
        }
</style>