
@{
    ViewData["Title"] = "OurAchievements";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
font-family: sans-serif;


<body>
    <section id="achieve-background">
        <div class="achieve-menu" id="achieve">
            <div class="container">
                <h1>Our Achievements</h1>
                <br />
                <div class="row">
                    <div class="col-sm-3 col-md-3">

                    </div>
                    <div class="col-sm-3 col-md-3">

                    </div>
                    <div class="col-sm-3 col-md-3">

                    </div>
                    <div class="col-sm-3 col-md-3">

                    </div>
                    <div class="col-sm-3 col-md-3">

                    </div>
                </div>
                <br />
                <br />
            </div>
        </div>

    </section>
    <section>
        <h6 style="color: white;">REVIEW SECTIONS</h6>
        <strong style="color: darkgoldenrod;">Coming Soon</strong>
    </section>
</body>

<style>

    .achieve-menu {
        position: relative;
        padding: 100px;
        min-height: 100vh;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .achieve-menu h1 {
        font-size: 40px;
        font-weight: 200;
        margin-bottom: 10px;
        color: darkgoldenrod;
        text-transform: uppercase;
        text-align: right;
    }


</style>