
@{
    ViewData["Title"] = "Policy";
}


<body>
    <section class="policy-background">
        <!--added image-->
        <div class="policy-menu" id="policy">
            <div class="container">
                <br />
                <br />
                <br />
                <br />
                <h1>@ViewData["Title"]</h1>
                <div class="tabs">
                    <input type="radio" name="tab" id="tab1" />
                    <label for="tab1">Product & Service Disclosure</label>

                    <input type="radio" name="tab" id="tab2" />
                    <label for="tab2">Terms & Conditions</label>

                    <input type="radio" name="tab" id="tab3" />
                    <label for="tab3">Refund Policy</label>

                    <input type="radio" name="tab" id="tab4" />
                    <label for="tab4">Investment Policy</label>

                    <input type="radio" name="tab" id="tab5" />
                    <label for="tab5">Stocks Policy</label>

                    <input type="radio" name="tab" id="tab6" />
                    <label for="tab6">Account Fees</label>
                    
                    <input type="radio" name="tab" id="tab7" />
                    <label for="tab7">Account/Profile Cancellation</label>
                    
                    <input type="radio" name="tab" id="tab8" />
                    <label for="tab8">Privacy Policy</label>
                    
                    <input type="radio" name="tab" id="tab9" />
                    <label for="tab9">Modify User Information</label>
                    
                    <input type="radio" name="tab" id="tab10" />
                    <label for="tab10">Cookie Policy</label>

                    <div class="tab-content">
                        <div id="content1">
                            <h2>Product & Service Disclosure</h2>
                            <br />
                            <p style="color: white;">
                                Planiture Online Investments, (hereinafter referred to as "Planiture" or "We" or “Our”) recognizes that in order to develop
                                a long-term and mutually rewarding relationship with participants (hereinafter referred to as "Clients", "Users" or "You")
                                all involved parties must acknowledge and respect the true nature of the relationship between Planiture and Users of our
                                products and services.
                                <br />
                                <br />
                                In terms of mutual respect and understanding, Planiture is committed to:
                                <ul style="color: white;font-family:sans-serif;">
                                    <li>Provide prompt, professional and courteous personal service and communications to all of its Customers</li>
                                    <li>Provide the highest level of quality services, at fair and reasonable prices</li>
                                    <li>Refund the purchase price of any product or service as provided in our <a href="">Refund policy</a>.</li>
                                    <li>Deliver products and services promptly and accurately</li>
                                    <li> Provide our best options available, if an error or unreasonable delay occurs</li>
                                    <li>Our Products and Services, prices and fees are final and non-negotiable.</li>
                                </ul>
                            </p>
                            <p style="font-family:sans-serif;">
                                In return users are required to:
                                <ul style="color: white;font-family:sans-serif;">
                                    <li>Be in agreement with our <a href="">Terms and Conditions</a> in order to use Products and Services of Planiture.</li>
                                    <li>View our <a href="">Investment Policy</a> before selecting from our Investment plans and <a href="">Stock Policy</a> Before buying a stock.</li>
                                    <li>Read all disclosures, terms and conditions during their decision making. Clients have the responsibility and right of selecting plans of their choices</li>
                                </ul>
                            </p>
                        </div>
                    </div>
                    <div class="tab-content">
                        <div id="content2">
                            <h2>Terms & Conditions</h2>
                            <br />
                            <p>
                                Planiture Online Investments, (hereinafter referred to as "Planiture" or "We" or “Our”) recognizes that in order to develop
                                a long-term and mutually rewarding relationship with participants (hereinafter referred to as "Clients", "Users" or "You")
                                all involved parties must acknowledge and respect the true nature of the relationship between Planiture and Users of our
                                products and services.
                                <br />
                                <br />
                                Planiture Online Investments owns and maintains Planiture website and applications. Our website gives Prospects and Clients the 
                                options of knowing who we are, what we do and willing participants the option to use our products and services.
                                All Users, prospects and students are able to utilize Planiture Online Investments’ website within its terms and conditions and policy:
                                <ul style="color:white; font-family:sans-serif;">
                                    <li>All users who would like to use the products and services of Planiture Online Investments website, are required to go through 
                                    the correct registration process that is required for each Product and/or service offered.</li>
                                    <li>All users who are registering for an Investment Account or Stock Account with Planiture Online Investments are required to thoroughly
                                    read the policies and terms and conditions.</li>
                                    <li>Clients are required to select an investment plan to open a basic account with Planiture Online Investments to activate their account</li>
                                    <li>Clients are required to purchase a stock from our stock portfolio of Planiture Online Investments, to activate the account.</li>
                                    <li>Planiture Online Investments can choose to not do business with any client for any suspicious, fraudulent reasons.</li>
                                    <li>Account holders are required to view <a href="">account fees</a> account.</li>
                                    <li>View <a href="">Account/profile cancellation disclosure</a>.</li>
                                    <li> Planiture Online Investments is able to make changes to <a href="">account fees</a> with the consideration of the clients’ and company’s needs.</li>
                                    <li>Planiture Online Investments updates account holders via email notifications. And therefore, all registering clients have to go through a 
                                    verification process of email verification and proof of identification. This is to ensure clients provided an active email address for their 
                                    accounts and allow us to know who we are doing business with.</li>
                                    <li>Planiture Online Investments updates profile users via email notification and therefore are required to update their information once there has 
                                    been any changes.</li>
                                    <li> All registered clients with The Planiture Group are required to keep their personal information updated and therefore can update personal 
                                    information excluding account holder’s name and date of birth on their account (name and date of birth may require proof of identity).</li>
                                    <li>Planiture Online Investments does not share client information with any 3rd-party company. All collected information is used strictly within
                                    Planiture Online Investments.</li>
                                    <li> Planiture Online Investments being an investment entity, requires every user to go through the correct registration or sign up process to 
                                    take advantage of the products and services of the company.</li>
                                    <li> Planiture Online Investments being an investment entity, means any misinformation can lead to suspension or termination of account or profile.</li>
                                    <li>View our <a href="">Investment Policy</a> for our investment plans and stock purchase.</li>
                                    <li>Due to backend programming and strategies in place, Planiture Online Investments <a href="">refund policy</a> applies to our investment plan or stock
                                    after purchase.</li>
                                    <li>Planiture uses the personal and financial information received to provide accurate information for clients and to improve client experience.</li>
                                    <li>Planiture Online Investments stands by our <a href="">privacy policy</a> for the protection of our client’s information. </li>
                                    <li>Information collected from our clients is used strictly within the Planiture Online Investments business to improve products and services and to improve
                                    client experience with us.</li>
                                    <li>Our <a href="">account fees</a> apply to every account holder.</li>
                                    <li>Users are unable to terminate their accounts if there is an active plan on their account, the investment plan has to be completed and transaction processed
                                    before the client account will be closed. View out <a href="">account/profile cancellation<a/>.</li>
                                    <li>Planiture Online Investments policy, disclosures, systems and applications may update due to improvements and changes in products and services. Planiture
                                    Online Investments will update their registered clients via email contact.</li>
                                </ul>
                            </p>
                        </div>
                    </div>
                    <div class="tab-content">
                        <div id="content3">
                            <h2>Refund Policy</h2>
                            <br />
                            <p>
                                Planiture Online Investments, (hereinafter referred to as "Planiture" or "We" or “Our”) recognizes that in order to develop a
                                long-term and mutually rewarding relationship with participants (hereinafter referred to as "Clients", "Users" or "You") all
                                involved parties must acknowledge and respect the true nature of the relationship between Planiture and Users of our products and services.
                            </p>
                            <span style="color:darkgoldenrod;"><b>3a. ACCOUNT HOLDERS REFUNDS:</b></span>
                            <p style="color:white;">
                                Investment Plans: Clients are eligible for a full refund, minus commission fee if investment plan has not been executed.
                                <br />
                                <br />
                                Stocks: Clients are eligible for a refund if stock purchase has not been processed which can take up to 24 hours. Once a
                                stock purchase has been made, clients can request to withdraw from the Stock Account after our <a href="">Stock Hold</a> has been lifted.
                                <br />
                                <span style="color:darkgoldenrod;"><b>3b. PROFILE USERS REFUNDS: </b></span>Are eligible to a seven (7) day money back guaranteed to:
                                <br />
                                <ol style="color:white;" type="I">
                                    <li>Signal subscribers if:</li>
                                    <ul>
                                        <li>Activation ID No. has not been activated in the signal group.</li>
                                        <li>Users logged into Signal group 3 times or less.</li>
                                    </ul>
                                    <li>Academy Access subscribers:</li>
                                    <ul>
                                        <li>For Content Library and Forex Course</li>
                                    </ul>
                                </ol>
                                <br />
                                <br />
                            </p>
                            <span style="color:darkgoldenrod;"><b>3c. FULL REFUND</b></span>
                            <p>
                                &nbsp;&nbsp;&nbsp;&nbsp; Scheduled Classes/Mentorship sessions:
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <ul style="color:white;">
                                    <li>If client cancels/reschedule before start time of class</li>
                                </ul>
                            </p>
                            <span style="color:darkgoldenrod;"><b>3d. REFUND NOT ELIGIBLE</b></span>
                            <p>
                                - Clients are not eligible for a commission fee refund,
                                service fee refund, No active Plan Fee, or Investment Losses.
                                Questions and concerns can be emailed to <a href="mailto:planitureinvestments@gmail.com">PlanitureInvestments@gmail.com</a>.
                            </p>
                        </div>
                    </div>
                    <div class="tab-content">
                        <div id="content4">
                            <h2>Investment Policy</h2>
                            <br />
                            <p>
                                Planiture Online Investments, (hereinafter referred to as "Planiture" or "We" or “Our”) recognizes that in order to
                                develop a long-term and mutually rewarding relationship with participants (hereinafter referred to as "Clients",
                                "Users" or "You") all involved parties must acknowledge and respect the true nature of the relationship between
                                Planiture and Users of our products and services.
                                <br />
                                <br />
                                Planiture Online Investments offer clients the option of opening an account with us for investment purposes. Clients
                                can open an account for only investment plans, stocks or both.  Clients with an account are required to:
                                <br />
                                <ul style="color:white; font-family: sans-serif;">
                                    <li>Keep the account active with a plan, stock or both</li>
                                    <li> Read descriptions and terms before selecting a plan/ purchasing stock</li>
                                </ul>
                            </p>
                            <p>
                                Planiture Online Investments has a no <a href="">refund policy</a> after the execution date of investment plans; the client has to wait
                                until the plan is completed.
                                <br />
                                <br />
                                NO PLAN FEE - this is a fee charged to account holders if a client fails to have an active investment plan on their Basic/Advance Account.
                            </p>
                            <p style="text-align: right;">
                                <span style="color: goldenrod;">Updated: 09-14-2020</span>
                            </p>
                        </div>
                    </div>
                    <div class="tab-content">
                        <div id="content5">
                            <h2>Stocks Policy</h2>
                            <br />
                            <p style="color: white;">
                                Planiture Online Investments, (hereinafter referred to as "Planiture" or "We" or “Our”) recognizes that in order to develop a long-term
                                and mutually rewarding relationship with participants (hereinafter referred to as "Clients", "Users" or "You") all involved parties must
                                acknowledge and respect the true nature of the relationship between Planiture and Users of our products and services.
                                <br />
                                <br />
                                Planiture Online Investments offer clients the option of opening an account with us for investment purposes. Clients can open an account
                                for only investment plans, stocks or both.  Clients with an account are required to:
                                <br />
                                <ul style="color:white;">
                                    <li>Keep the account active with a plan, stock or both</li>
                                    <li> Read descriptions and terms before selecting a plan/ purchasing stock</li>
                                </ul>
                            </p>
                            <p>
                                Stock Investments are long term investments and require time for growth.
                                <br />
                                <br />
                                <span style="color:darkgoldenrod;"><b>5a. Stock Hold: </b></span>Planiture Online Investments has a hold time on client’s stock Purchase where
                                clients cannot withdraw from stocks. The hold time varies and therefore client’s are able to view the Stock Hold time on our Portfolio.
                                <br />
                                <br />
                                Planiture Online Investments has a no <a href="">refund policy</a> after the execution date of stock Investment; the client has to wait until
                                the Stock Hold has been Lifted.
                                <br />
                                <br />
                                NO PLAN FEE - this is a fee charged to account holders if a client fails to have an active stock purchase on their Stock or Advance Account.
                                <br />
                            </p>
                            <p style="text-align:right;">
                                <span style="color:darkgoldenrod;"> Updated: 09-14-2020</span>
                            </p>
                        </div>
                    </div>
                    <div class="tab-content">
                        <div id="content6">
                            <h2>Account Fees</h2>
                            <br />
                            <p>
                                Planiture Online Investments, (hereinafter referred to as "Planiture" or "We" or “Our”) recognizes that in order to develop a long-term
                                and mutually rewarding relationship with participants (hereinafter referred to as "Clients", "Users" or "You") all involved parties must
                                acknowledge and respect the true nature of the relationship between Planiture and Users of our products and services.
                                <br />
                                <br />
                                There are fees that clients may encounter with an open account with Planiture Online Investments. These fees are:
                                <br />
                                <br />
                                Commission Fees - These are fees charged to execute an investment plan or stock execution.
                                <br />
                                <br />
                                Service Fees - This is a fee charged after a successful Plan/stock purchase for investors’ payment.
                                <br />
                                <br />
                                No Active Fee - Client is charged a fee for not having an active plan/stock purchase for more than 7 days.
                                <br />
                                <br />
                                Early Withdrawal Fee (EWF) - This is a fee charged for Early withdrawal from a stock purchase.
                                <br />
                                <br />
                                Early Close Fee (ECF) - This is a fee charged for closing an account before 30 business days.
                                <br />
                                <br />
                                Close Fee - This is a fee charged to a non-active account before closure after 30days.
                            </p>
                        </div>
                    </div>
                    <div class="tab-content">
                        <div id="content7">
                            <h2>Account/Profile Cancellation</h2>
                            <br />
                            <p>
                                Planiture Online Investments, (hereinafter referred to as "Planiture" or "We" or “Our”) recognizes that in order to develop a long-term
                                and mutually rewarding relationship with participants (hereinafter referred to as "Clients", "Users" or "You") all involved parties must
                                acknowledge and respect the true nature of the relationship between Planiture and Users of our products and services.
                                <br />
                                <br />
                                Clients are required to keep an active account with us for at least 30 business days to avoid an Early Closing Fee. Clients can request to
                                close their account after 30 business days once there is no active plan/stock purchase on that account.
                                <br />
                                <br />
                                Once the account has been closed, the client account will be cashed out to the primary payment method associated with the client and the
                                account will be closed internally.
                                <br />
                                <br />
                                Clients can always register again to use our products and services.
                            </p>
                            <p style="text-align:right;">
                                <span style="color:darkgoldenrod;">Updated: 09-14-2020</span>
                            </p>
                        </div>
                    </div>
                    <div class="tab-content">
                        <div id="content8">
                            <h2>Privacy Policy</h2>
                            <br />
                            <p style="color:white;">
                                Planiture Online Investments, (hereinafter referred to as "Planiture" or "We" or “Our”) recognizes that in order to develop a long-term
                                and mutually rewarding relationship with participants (hereinafter referred to as "Clients", "Users" or "You") all involved parties must
                                acknowledge and respect the true nature of the relationship between Planiture and Users of our products and services.
                                <br />
                                <br />
                                We respect your privacy and acknowledge your trust in us to keep your information safe.
                                <br />
                                <br />
                                We collect both personal and aggregated information for multiple purposes.
                                <br />
                                <br />
                                The information is used:
                                <ul style="color:white;">
                                    <li>To improve the content of the website</li>
                                    <li>To customize the content and/or the layout of the website for each individual user</li>
                                    <li>To notify users about updates to the website</li>
                                    <li>
                                        To send out newsletters or information and update clients about other opportunities we believe will be of interest to you. We will
                                        only send this to you if you have indicated that you wish to receive such information.
                                    </li>
                                </ul>
                            </p>
                            <p>
                                Personal Information is collected during the application process for an account or for purchase of a product or service. We limit the
                                collection of Personal Information to what is necessary to administer our business and provide you with a superior service.
                                <br />
                                <br />
                                We may also use the information we gather to inform you of new products or services available or under consideration, technical issues, customer
                                satisfaction surveys or account updates and related purposes.
                                <br />
                                <br />
                                Your email address may be used in relation to our products and services (including any marketing campaigns related to our products or services).
                                If you do not wish to receive such marketing material please contact us via <a asp-action="ContactUs" asp-controller="Home">Live Chat</a> or File
                                a Report.
                            </p>
                            <p style="text-align:right;">
                                <span style="color:darkgoldenrod;">Updated: 09-14-2020</span>
                            </p>
                        </div>
                    </div>
                    <div class="tab-content">
                        <div id="content9">
                            <h2>Modify User Information</h2>
                            <br />
                            <p>
                                You may also choose to modify most of your data on your own initiative by using the ‘Update Information’ on your Profile page, below
                                your Profile Picture. If you have any questions or concerns, please do not hesitate to submit an inquiry via email 
                                <a href="mailto:planitureinvestments@gmail.com">planitureinvestments@gmail.com</a>.
                            </p>
                            <p style="text-align:right;">
                                <span style="color:darkgoldenrod;">Updated: 09-14-2020</span>
                            </p>
                        </div>
                    </div>
                    <div class="tab-content">
                        <div id="content10">
                            <h2>Cookie Policy</h2>
                            <br />
                            <p>
                                We use cookies to collect information. A cookie is a small data file that a website stores on your computer’s hard disk for the
                                purpose of keeping records when you visit the website. Cookies allow us to improve your comfort of use, for example, by remembering
                                your passwords and viewing preferences, thus allowing you to visit various “clients-only” parts of the website without re-registering.
                                Furthermore, cookies are used by us to measure activity on the website and make improvements and updates based on which areas are
                                popular and which are not.
                                <br />
                                <br />
                                We do not use cookies to retrieve information not originally sent in a cookie. We do not use information transferred through cookies
                                for any direct promotional or marketing purposes without your consent.
                            </p>
                            <p style="text-align:right;">
                                <span style="color:darkgoldenrod;">Updated: 09-14-2020</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>


<style>
   

    h1 {
        color: darkgoldenrod;
        margin: 1em auto;
        width: 80%;
        text-align: right;
        text-transform: uppercase;
    }
    p{
        line-height: 2;
        font-family: sans-serif;
        color: white;
    }
    h2{
        color: white;
        font-family: sans-serif;
    }

    .tabs {
        /*max-width: 700px;*/
        padding: 50px;
        margin: 50px auto;
        position: relative;
    }
    .tabs input{display: none}
    .tabs label{
        display: block;
        padding: 15px;
        color: #a2a2a2;
        font-weight: 700;
        font-size: 17px;
        font-family: sans-serif;
        border-left: 5px solid #dcdcdc;
        transition: .3s ease;
    }
    .tabs label:hover{
        cursor: pointer;
        color: white;
    }
    .tabs input:checked + label{
        color: goldenrod;
        border-left: 5px solid yellow;
    }
    .tabs #tab1:checked ~ .tab-content #content1,
    .tabs #tab2:checked ~ .tab-content #content2,
    .tabs #tab3:checked ~ .tab-content #content3,
    .tabs #tab4:checked ~ .tab-content #content4,
    .tabs #tab5:checked ~ .tab-content #content5,
    .tabs #tab6:checked ~ .tab-content #content6,
    .tabs #tab7:checked ~ .tab-content #content7,
    .tabs #tab8:checked ~ .tab-content #content8,
    .tabs #tab9:checked ~ .tab-content #content9,
    .tabs #tab10:checked ~ .tab-content #content10{
        display: block;
    }
    .tab-content {
        position: relative;
    }
    #content1, #content2, #content3, #content4,
    #content5, #content6, #content7, #content8,
    #content9, #content10 {
        padding: 30px;
        overflow: auto;
        height: 600px;
        width: 600px;
        position: relative;
    }

    .tabs .tab-content {
        position: absolute;
        top: 0;
       /* max-width: 70%;*/
        right: 20px;
    }

    .tabs .tab-content div{
        display:none
    }


</style>

