
@{
    ViewData["Title"] = "Policy";
}


<body>
    <section class="policy-background">
        <!--added image-->
        <div class="policy-menu" id="policy">
            <div class="container">
                <br />
                <br />
                <br />
                <br />
                <h1>@ViewData["Title"]</h1>
                <div class="tabs">
                    <input type="radio" name="tab" id="tab1" />
                    <label for="tab1">Product & Service Disclosure</label>

                    <input type="radio" name="tab" id="tab2" />
                    <label for="tab2">Terms & Conditions</label>

                    <input type="radio" name="tab" id="tab3" />
                    <label for="tab3">Advertisement Disclosure</label>

                    <input type="radio" name="tab" id="tab4" />
                    <label for="tab4">Investment Policy</label>

                    <input type="radio" name="tab" id="tab5" />
                    <label for="tab5">Privacy Policy</label>

                    <input type="radio" name="tab" id="tab6" />
                    <label for="tab6">Cookie Policy</label>

                    <div class="tab-content">
                        <div id="content1">
                            <h2>Product & Service Disclosure</h2>
                            <br />
                            <p>
                                The Solar System[b] is the gravitationally bound system of the Sun and the objects that orbit it,
                                either directly or indirectly.[c] Of the objects that orbit the Sun directly, the largest are the
                                eight planets,[d] with the remainder being smaller objects, the dwarf planets and small Solar System bodies.
                                Of the objects that orbit the Sun indirectly—the moons—two are larger than the smallest planet, Mercury.[e]
                                <br />
                                The Solar System formed 4.6 billion years ago from the gravitational collapse of a giant interstellar
                                molecular cloud. The vast majority of the system's mass is in the Sun, with the majority of the remaining mass
                                contained in Jupiter. The four smaller inner planets, Mercury, Venus, Earth and Mars, are terrestrial planets,
                                being primarily composed of rock and metal. The four outer planets are giant planets, being substantially more
                                massive than the terrestrials. The two largest planets, Jupiter and Saturn, are gas giants, being composed mainly
                                of hydrogen and helium; the two outermost planets, Uranus and Neptune, are ice giants, being composed mostly of
                                substances with relatively high melting points compared with hydrogen and helium, called volatiles, such as water,
                                ammonia and methane. All eight planets have almost circular orbits that lie within a nearly flat disc called the ecliptic.
                            </p>
                        </div>
                    </div>
                    <div class="tab-content">
                        <div id="content2">
                            <h2>Terms & Conditions</h2>
                            <br />
                            <p>
                                The Solar System[b] is the gravitationally bound system of the Sun and the objects that orbit it,
                                either directly or indirectly.[c] Of the objects that orbit the Sun directly, the largest are the
                                eight planets,[d] with the remainder being smaller objects, the dwarf planets and small Solar System bodies.
                                Of the objects that orbit the Sun indirectly—the moons—two are larger than the smallest planet, Mercury.[e]
                                <br />
                                The Solar System formed 4.6 billion years ago from the gravitational collapse of a giant interstellar
                                molecular cloud. The vast majority of the system's mass is in the Sun, with the majority of the remaining mass
                                contained in Jupiter. The four smaller inner planets, Mercury, Venus, Earth and Mars, are terrestrial planets,
                                being primarily composed of rock and metal. The four outer planets are giant planets, being substantially more
                                massive than the terrestrials. The two largest planets, Jupiter and Saturn, are gas giants, being composed mainly
                                of hydrogen and helium; the two outermost planets, Uranus and Neptune, are ice giants, being composed mostly of
                                substances with relatively high melting points compared with hydrogen and helium, called volatiles, such as water,
                                ammonia and methane. All eight planets have almost circular orbits that lie within a nearly flat disc called the ecliptic.
                            </p>
                        </div>
                    </div>
                    <div class="tab-content">
                        <div id="content3">
                            <h2>Advertisement Disclosure</h2>
                            <br />
                            <p>
                                The Solar System[b] is the gravitationally bound system of the Sun and the objects that orbit it,
                                either directly or indirectly.[c] Of the objects that orbit the Sun directly, the largest are the
                                eight planets,[d] with the remainder being smaller objects, the dwarf planets and small Solar System bodies.
                                Of the objects that orbit the Sun indirectly—the moons—two are larger than the smallest planet, Mercury.[e]
                                <br />
                                The Solar System formed 4.6 billion years ago from the gravitational collapse of a giant interstellar
                                molecular cloud. The vast majority of the system's mass is in the Sun, with the majority of the remaining mass
                                contained in Jupiter. The four smaller inner planets, Mercury, Venus, Earth and Mars, are terrestrial planets,
                                being primarily composed of rock and metal. The four outer planets are giant planets, being substantially more
                                massive than the terrestrials. The two largest planets, Jupiter and Saturn, are gas giants, being composed mainly
                                of hydrogen and helium; the two outermost planets, Uranus and Neptune, are ice giants, being composed mostly of
                                substances with relatively high melting points compared with hydrogen and helium, called volatiles, such as water,
                                ammonia and methane. All eight planets have almost circular orbits that lie within a nearly flat disc called the ecliptic.
                            </p>
                        </div>
                    </div>
                    <div class="tab-content">
                        <div id="content4">
                            <h2>Investment Policy</h2>
                            <br />
                            <p>
                                The Solar System[b] is the gravitationally bound system of the Sun and the objects that orbit it,
                                either directly or indirectly.[c] Of the objects that orbit the Sun directly, the largest are the
                                eight planets,[d] with the remainder being smaller objects, the dwarf planets and small Solar System bodies.
                                Of the objects that orbit the Sun indirectly—the moons—two are larger than the smallest planet, Mercury.[e]
                                <br />
                                The Solar System formed 4.6 billion years ago from the gravitational collapse of a giant interstellar
                                molecular cloud. The vast majority of the system's mass is in the Sun, with the majority of the remaining mass
                                contained in Jupiter. The four smaller inner planets, Mercury, Venus, Earth and Mars, are terrestrial planets,
                                being primarily composed of rock and metal. The four outer planets are giant planets, being substantially more
                                massive than the terrestrials. The two largest planets, Jupiter and Saturn, are gas giants, being composed mainly
                                of hydrogen and helium; the two outermost planets, Uranus and Neptune, are ice giants, being composed mostly of
                                substances with relatively high melting points compared with hydrogen and helium, called volatiles, such as water,
                                ammonia and methane. All eight planets have almost circular orbits that lie within a nearly flat disc called the ecliptic.
                            </p>
                        </div>
                    </div>
                    <div class="tab-content">
                        <div id="content5">
                            <h2>Privacy Policy</h2>
                            <br />
                            <p>
                                The Solar System[b] is the gravitationally bound system of the Sun and the objects that orbit it,
                                either directly or indirectly.[c] Of the objects that orbit the Sun directly, the largest are the
                                eight planets,[d] with the remainder being smaller objects, the dwarf planets and small Solar System bodies.
                                Of the objects that orbit the Sun indirectly—the moons—two are larger than the smallest planet, Mercury.[e]
                                <br />
                                The Solar System formed 4.6 billion years ago from the gravitational collapse of a giant interstellar
                                molecular cloud. The vast majority of the system's mass is in the Sun, with the majority of the remaining mass
                                contained in Jupiter. The four smaller inner planets, Mercury, Venus, Earth and Mars, are terrestrial planets,
                                being primarily composed of rock and metal. The four outer planets are giant planets, being substantially more
                                massive than the terrestrials. The two largest planets, Jupiter and Saturn, are gas giants, being composed mainly
                                of hydrogen and helium; the two outermost planets, Uranus and Neptune, are ice giants, being composed mostly of
                                substances with relatively high melting points compared with hydrogen and helium, called volatiles, such as water,
                                ammonia and methane. All eight planets have almost circular orbits that lie within a nearly flat disc called the ecliptic.
                            </p>
                        </div>
                    </div>
                    <div class="tab-content">
                        <div id="content6">
                            <h2>Cookie Policy</h2>
                            <br />
                            <p>
                                The Solar System[b] is the gravitationally bound system of the Sun and the objects that orbit it,
                                either directly or indirectly.[c] Of the objects that orbit the Sun directly, the largest are the
                                eight planets,[d] with the remainder being smaller objects, the dwarf planets and small Solar System bodies.
                                Of the objects that orbit the Sun indirectly—the moons—two are larger than the smallest planet, Mercury.[e]
                                <br />
                                The Solar System formed 4.6 billion years ago from the gravitational collapse of a giant interstellar
                                molecular cloud. The vast majority of the system's mass is in the Sun, with the majority of the remaining mass
                                contained in Jupiter. The four smaller inner planets, Mercury, Venus, Earth and Mars, are terrestrial planets,
                                being primarily composed of rock and metal. The four outer planets are giant planets, being substantially more
                                massive than the terrestrials. The two largest planets, Jupiter and Saturn, are gas giants, being composed mainly
                                of hydrogen and helium; the two outermost planets, Uranus and Neptune, are ice giants, being composed mostly of
                                substances with relatively high melting points compared with hydrogen and helium, called volatiles, such as water,
                                ammonia and methane. All eight planets have almost circular orbits that lie within a nearly flat disc called the ecliptic.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            

            

        </div>
    </section>
</body>


<style>
   

    h1 {
        color: darkgoldenrod;
        margin: 1em auto;
        width: 80%;
        text-align: right;
        text-transform: uppercase;
    }
    p{
        line-height: 2;
        font-family: sans-serif;
        color: white;
    }
    h2{
        color: white;
        font-family: sans-serif;
    }

    .tabs {
        /*max-width: 700px;*/
        padding: 50px;
        margin: 50px auto;
        position: relative;
    }
    .tabs input{display: none}
    .tabs label{
        display: block;
        padding: 15px;
        color: #a2a2a2;
        font-weight: 700;
        font-size: 17px;
        border-left: 5px solid #dcdcdc;
        transition: .3s ease;
    }
    .tabs label:hover{
        cursor: pointer;
        color: white;
    }
    .tabs input:checked + label{
        color: goldenrod;
        border-left: 5px solid yellow;
    }
    .tabs #tab1:checked ~ .tab-content #content1,
    .tabs #tab2:checked ~ .tab-content #content2,
    .tabs #tab3:checked ~ .tab-content #content3,
    .tabs #tab4:checked ~ .tab-content #content4,
    .tabs #tab5:checked ~ .tab-content #content5,
    .tabs #tab6:checked ~ .tab-content #content6{
        display: block;
    }
    .tab-content {
        padding: 30px;
    }
    .tabs .tab-content{
        position: absolute;
        top: 0;
        max-width: 70%;
        right: 20px;
    }
    .tabs .tab-content div{
        display:none
    }


</style>

