
@{
    ViewData["Title"] = "Stock Portfolio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<body>
    <section id="stock-background">
        <div class="stock-menu" id="stock">
            <div class="container">
                <h1>@ViewData["Title"]</h1>
                <br />
                <div class="row" style="align-items: center">
                    <div class="col-sm-6 col-md-6">
                        <div class="thumbnail">
                            <img style="align-content: center" src="~/css/calculator.jpg" alt="Binary_account" width="300" height="250">
                            <br />
                            <br />
                            <div class="thumbnail-border">
                                <p>STOCK PORTFOLIO</p>
                            </div>
                            <div class="caption">
                                <p>
                                    <a asp-controller="Home" asp-action="StocksPortfolio">'View Stock Portfolio'</a> - Open an <br />
                                    account to have your funds <br /> invested into
                                    stock portfolio <br /> recommended
                                    <br /> list.
                                    <br />
                                    <br />
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <div class="thumbnail">
                            <img style="align-content: center" src="~/css/account_upgrade.jpg" alt="Binary_account" width="300" height="250">
                            <br />
                            <br />
                            <div class="thumbnail-border">
                                <p>ACCOUNT UPGRADE</p>
                            </div>
                            <div class="caption">
                                <p>
                                    <a asp-area="" asp-page="">'Upgrade Account'</a> - Being able <br />
                                    invested your account funds <br /> into currency,
                                    commodity plans<br /> and stocks.
                                    <br />
                                    <br />
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
<style>
    .stock-background {
        position: relative;
        width: 100%;
        min-height: 100vh;
        background-size: cover;
        display: flex; /*changed from inline*/
        justify-content: center;
        align-items: center;
    }

    .stock-menu {
        position: relative;
        padding: 100px;
        min-height: 100vh;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .stock-menu h1 {
        font-size: 40px;
        font-weight: 200;
        margin-bottom: 10px;
        color: darkgoldenrod;
        text-transform: uppercase;
        text-align: right;
    }

    .stock-menu p{
        position: relative;
        font-size: 18px;
        font-weight: 300;
        margin-bottom: 20px;
        letter-spacing: 1px;
        color: white;
        font-family: sans-serif;
    }

    .row .col-md-12 .thumbnail {
        border-radius: 4px;
        padding: 1px;
        text-align: center;
    }
    .thumbnail-border {
        border-radius: 4px;
        padding: 1px;
        border: 2px solid goldenrod;
        text-align: center;
    }
</style>