@page
@model Planiture_Website.Areas.Identity.Pages.Admin.DownloadPersonalDataModel
@{
    ViewData["Title"] = "Download Your Data";
}

<h4>@ViewData["Title"]</h4>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}