@page
@model Planiture_Website.Areas.Identity.Pages.Account.Manage.DashboardModel
@{
    ViewData["Title"] = "Dashboard";
    ViewData["ActivePage"] = ManageNavPages.Dashboard;
}

<h4>@ViewData["Title"]</h4>

<div>

</div>